.container{
  max-width: 1320px;
  width: 100%;
  margin: auto; 
}
@media only screen and (max-width: 1400px) {
  .container{
      max-width: 1140px;
      width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .container{
      max-width: 960px;
      width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .container{
      max-width: 720px;
      width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container{
      max-width: 540px;
      width: 100%;
  }

}
@media only screen and (max-width: 576px) {
  .container{
      max-width: 560px;
      width: 100%;
  }
  
}
